<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>A79C4498-4D79-4B2D-9FD2-1A27B9B77D8A.playgroundpage</string>
		<string>B96B0A58-942F-4351-BCB1-763D90C425FC.playgroundpage</string>
		<string>6F3E05DB-73C3-4106-AD7D-135CEBB3BCA2.playgroundpage</string>
		<string>94D90839-2E8D-42F5-A19A-2726D999939B.playgroundpage</string>
		<string>AA15283E-863E-4DF2-B1BA-C77AC1A5529E.playgroundpage</string>
		<string>3D9AE2E3-046F-4A0F-AADB-31C9F789D5E3.playgroundpage</string>
		<string>2E40C619-60B3-49CF-BB0A-AC72F7C5388C.playgroundpage</string>
		<string>25147CC7-1BB2-483A-BCF0-94174BBC28A6.playgroundpage</string>
	</array>
</dict>
</plist>
